{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Источники новостей</h1>

    <!-- Кнопка-ссылка для перехода к новостям -->
    <div class="text-center mb-4">
        <a href="{% url 'news_list' %}" class="btn btn-primary">Назад к
            новостям</a>
    </div>

    <ul class="list-group">
        {% for source in sources %}
        <li class="list-group-item">
            <strong>{{ source.name }}</strong>
            <span class="d-block text-muted">{{ source.description
                }}</span>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}