{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Новости</h1>
    
    <!-- Кнопка-ссылка для перехода к источникам новостей -->
    <div class="text-center mb-4">
        <a href="{% url 'news_sources' %}" class="btn btn-primary">Источники новостей</a>
    </div>

    <ul class="list-group mt-4">
        {% for news_item in news %}
            <li class="list-group-item">
                <strong>{{ news_item.title }}</strong>
                <span class="d-block text-muted">{{ news_item.content }}</span>
                <small class="d-block text-muted">{{ news_item.date }}</small>
            </li>
        {% empty %}
            <li class="list-group-item">Новостей нет.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
