{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-4">Contact
    Us</h1>
<div class="text-center mt-3">
    <a href="{% url 'news:index' %}" class="btn btn-primary">Back to
        Home</a>
</div>
<div>
    {% if image_data %}
    {% for image in image_data %}
    <div class="ps-5 mb-4 d-flex align-items-center">
        <!-- Изображение -->
        <img src="{{ image.url }}" alt="Image"
            style="width:200px; margin-right: 20px;">

        <div class="opisanie p-2">
            <p>{{ image.description }}</p>
            <p>{{ image.about_me }}</p>
            <div class="link text-center">
                <a
                    class="d-inline-flex focus-ring focus-ring-dark py-1 px-2 text-decoration-none border rounded-2"
                    href="{{ image.link }}" target="_blank">Link GitHub</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No images to display.</p>
    {% endif %}
</div>
{% endblock %}
