{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Новости</h1>

    <!-- Фильтр по категориям -->
    <div class="text-center mb-4">
        <a href="?category=general" class="btn btn-primary">Общие</a>
        <a href="?category=finance" class="btn btn-primary">Финансы</a>
        <a href="?category=sports" class="btn btn-primary">Спорт</a>
        <a href="?category=technology" class="btn btn-primary">Технологии</a>
        <a href="?category=health" class="btn btn-primary">Здоровье</a>
        <a href="?category=entertainment" class="btn btn-primary">Развлечения</a>
        <!-- Кнопка возврата на главную страницу -->
        <div class="text-center mt-3">
            <a href="{% url 'index' %}" class="btn btn-primary">На главную</a>
        </div>
    </div>

    <!-- Отображение списка новостей в виде карточек -->
    <div class="row">
        {% for item in news %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ item.image_url }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="{{ item.url }}" class="btn btn-primary"
                        target="_blank">Читать далее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
