{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center mb-4">News Sources</h1>

    <div class="text-center mt-3">
        <a href="{% url 'news:index' %}" class="btn btn-primary">Back to
            Home</a>
    </div>

    <ul class="list-group p-4">
        {% for source in sources %}
        <li class="list-group-item mt-3">
            <strong>{{ source.name }}</strong>
            <span class="d-block text-muted">{{ source.description }}</span>
        </li>
        {% empty %}
        <li class="list-group-item">No news sources found.</li>
        {% endfor %}
    </ul>
{% endblock %}
