body {
    background-image: url('/static/images/logo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: var(--bs-body-font-family);
    color: #2379cf;
    text-align: var(--bs-body-text-align);
}

.container {
    padding-top: 50px;
    background: rgba(255, 253, 253, 0.468);
}

.bg {
    background: rgba(255, 253, 253, 0.468);
}

.con {
    padding-top: 50px;
    background: rgba(255, 253, 253, 0.468);
}

.container_mit {
    background: rgba(255, 253, 253, 0.468);
}

h2 {
    color: #333;
    margin-bottom: 30px;
}

.form-container {
    background: rgba(255, 253, 253, 0.468);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 12px;
}

.d-grid .btn {
    padding: 10px;
    font-size: 16px;
}

.alert-container {
    margin-bottom: 20px;
}

.alert {
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
    
}

.tx {
    background: rgba(255, 253, 253, 0.468);
}

a {
    color: #23cf68;
}

a:hover {
    text-decoration: underline;
}

.register {
    color: #222a24;
}

.user {
    color: #23cf68;
}

.ull {
    font-size: 23px;
}

.notes {
    background: rgba(255, 253, 253, 0.468);
}

.card {
    background: rgba(255, 253, 253, 0.468);
}

.list-group-item {
    background: rgba(255, 253, 253, 0.468);
}

.alert {
    background: rgba(255, 253, 253, 0.468);
}

.menu {
    background: rgba(255, 253, 253, 0.468);
    color: #163525;
}

.menu-1 {
    color: #ce1e1e;
    font-size: 23px;
}

.opisanie {
    background: rgba(218, 250, 234, 0.707);
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    padding: 1rem 0;
    text-align: center;
}

.CT {
    color: #000000;
}

.custom-font {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #333;
}