{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<h2>Список файлів</h2>
<div>
    <a href="{% url 'files:file_upload' %}">Завантажити новий файл</a>
</div>
<div>
    <form method="get">
        <select name="category">
            <option value="">Всі категорії</option>
            <option value="image">Зображення</option>
            <option value="document">Документи</option>
            <option value="video">Відео</option>
            <option value="other">Інше</option>
        </select>
        <button type="submit">Фільтрувати</button>
    </form>
</div>
<ul>
    {% for file in files %}
        <li>
            {{ file.name }} ({{ file.get_category_display }}) -
            <a href="{{ file.file.url }}" target="_blank">Завантажити</a>
        </li>
    {% empty %}
        <li>Файли не знайдено.</li>
    {% endfor %}
</ul>
{% else %}
<div>
    <p>Ви не авторизовані. Будь ласка, авторизуйтесь для доступу до цієї сторінки.</p>
    <a href="{% url 'accounts:login' %}" class="btn btn-primary mt-3">Авторизуватись</a>
</div>
{% endif %}
{% endblock %}
