{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Контакти</h1>

    <h2>Пошук контактів</h2>
    <form method="GET">
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success">Пошук</button>
    </form>

    <hr>

    <h2>Нагадування про день народження</h2>
    {% if contacts %}
    <ul>
        {% for contact in contacts %}
        <li>{{ contact.name }} - у нього день народження через 7 днів!</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Немає контактів з днями народження через 7 днів.</p>
    {% endif %}

    <hr>

    <h2>Список контактів</h2>
    <ul>
        {% for contact in contacts %}
        <li>
            <strong>{{ contact.name }}</strong> - {{ contact.phone }}
            <a href="{% url 'contact_edit' contact.pk %}"
                class="btn btn-warning btn-sm">Редагувати</a>
            <a href="{% url 'contact_delete' contact.pk %}"
                class="btn btn-danger btn-sm">Видалити</a>
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'contact_create' %}" class="btn btn-success mt-3">Додати
        новий контакт</a>
</div>

{% endblock %}