body {
    background-image: url('/static/images/logo.jpg');
    background-size: cover; /* Это растянет картинку на весь экран */
    /* background-position: center; */
    background-repeat: no-repeat; /* Отключает повторение картинки */
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: #2379cf;
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

